/*mengatur ulang beberapa properti margin dan padding pada elemen HTML */
body, h1, h2, h5, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

img{
  border: 10px solid black;
}

nav a {
  text-decoration: none;
  color: #333;
}

nav a:hover {
  color: #ff6600;
}

/* Menu Favorit (Supaya List nya Kesamping) */
.menu-favorit {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-item {
  flex: 0 0 calc(20% - 20px); /* Mengatur lebar masing-masing elemen */
  margin: 10px;
  text-align: center;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.menu-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/* Bingkai Foto Promo */
img {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #ff6600;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button:hover {
  background-color: #ff5500;
}

/* Menu Favorit */
h2 {
  font-size: 24px;
  margin-top: 20px;
  color: #333;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-column {
  flex: 1;
  margin-right: 20px;
  text-align: left;
}

.footer-column h5 {
  font-size: 20px;
  margin-bottom: 10px;
}

.footer-column a {
  display: block;
  color: #ffcc00;
  text-decoration: none;
  margin-bottom: 5px;
}

.footer-column ul {
  list-style: none;
  padding-left: 0;
}

.footer-column ul li {
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
}

.btn-submit-footer {
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  margin-top: 10px;
  cursor: pointer;
}

.btn-submit-footer:hover {
  background-color: #ff5500;
}

.copyright {
  font-size: 12px;
  margin-top: 20px;
}

.copyright a {
  color: #ffcc00;
  text-decoration: none;
  margin-left: 10px;
}

.hero{
  box-sizing: border-box;
  background-color: black;
  width: 200px;
  padding: 1rem 1rem;
}